[submodule "differ"]
	path = differ
	url = https://github.com/terraprisma/differ.git
[submodule "vanilla"]
	path = vanilla
	url = https://github.com/terraprisma/vanilla.git
[submodule "FNA"]
	path = FNA
	url = https://github.com/steviegt6/FNA
